.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: #7f808c!important;
}

.btn-outline-secondary {
    color: #7f808c; 
    border-color: #dedeec; 
}


.btn-outline-secondary:hover {
    color: #7f808c; 
    border-color: #dedeec;
    background: transparent; 
}