$primary: #78418b;

@import "~bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';

@import './assets/sass/components/buttons';
@import './assets/sass/components/input';
@import './assets/sass/components/alert';
@import './assets/sass/components/card';
@import './assets/sass/components/amplify';



.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

btn:focus, select:focus,  a:focus
{
         outline: none;
}

.nav-link {
    color: rgba(255, 255, 255, 0.8)!important;
}

.nav-item {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;

}


.btn-outline-light {
    font-weight: 500 !important;
    color: white!important;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;

}

.btn-outline-light:hover {
    color: #87499c;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

body {
  background: #fafafc;
}