// colors
$accentColor = #78418b
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #78418b
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

.navbar .site-name {
    display: none!important;
}

.navbar .logo {
    height: 1.8rem;
    min-width: 1.8rem;
    margin-right: 0.8rem;
    vertical-align: top;
}