.btn-lg {
    font-weight: 700;
    font-family: monospace;
}

img {
    border-radius: 10px;
    border: 2px solid white;
}


img:hover, .selected {
    border: 2px solid purple;
    cursor: pointer;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
     fill: #fff!important;
}

.ticketType {
    background-color: #eeeef5;
    border: 1px solid #c0c0d6;
    border-radius: 0.375rem;
    width: 100%;
    padding: 1rem;
}


h3  {
    font-size: 1.3rem;
}