
<div style="height: 330px" *ngIf="scrolled">

</div>
<section class="jumbotron text-center" [ngClass]="{'jumbotron-scrolled': scrolled}">
    <div class="container">
        <app-navbar [scrolled]="scrolled"></app-navbar>      
        <img src="https://cloudbash-frontend.s3.amazonaws.com/cloudbash_white.svg" 
        class="img-fluid my-5" alt="Responsive image" width="300px">  

        <div class="searchbox mx-auto d-flex flex-row">
            <input [ngClass]="{'has-input': searchTerm}" [(ngModel)]="searchTerm" 
                name="searchTerm" class="form-control" type="text" placeholder="Search by Artist, Event or Venue...">
            <select class="round" [ngClass]="{'has-input': searchTerm}">
                <option selected>Any day</option>
                <option value="1">Today</option>
                <option value="1">This week</option>
                <option value="2">This weekend</option>
                <option value="3">Next week</option>
                </select>
            <button class="btn" [ngClass]="{'has-input-btn': searchTerm}">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                </svg>
            </button>
        </div>


        <ul class="nav auth-menu d-none">
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-light" >Sign in</button>
            </li>
        </ul>

    </div>
</section>