<div style="height: 330px" *ngIf="scrolled">

</div>
<section class="jumbotron text-center" [ngClass]="{'jumbotron-scrolled': scrolled}">
    <div class="container">
        <app-navbar [scrolled]="scrolled"></app-navbar>
        <img [routerLink]="[ '/' ]" src="https://cloudbash-frontend.s3.amazonaws.com/cloudbash_white.svg" class="img-fluid my-5"
            alt="Responsive image" width="300px">

        <div class="searchbox mx-auto d-flex flex-row">
            <input [ngClass]="{'has-input': searchTerm}" [(ngModel)]="searchTerm" name="searchTerm" class="form-control"
                type="text" placeholder="Search by Artist, Event or Venue...">
            <select class="round" [ngClass]="{'has-input': searchTerm}">
                <option selected>Any day</option>
                <option value="1">Today</option>
                <option value="1">This week</option>
                <option value="2">This weekend</option>
                <option value="3">Next week</option>
            </select>
            <button class="btn" [ngClass]="{'has-input-btn': searchTerm}">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                        class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                        </path>
                    </svg>
                </svg>
            </button>
        </div>

        <ul class="nav auth-menu d-none">
            <li class="nav-item" *ngIf="!authService?.user">
                <a class="nav-link" [routerLink]="[ '/sign-up' ]">Register</a>
            </li>
            <li class="nav-item" *ngIf="!authService?.user">
                <a class="btn btn-outline-light" [routerLink]="[ '/sign-in' ]">Sign in</a>
            </li>
            <li class="nav-item" *ngIf="authService?.user">
                <div ngbDropdown placement="bottom-right" class="d-inline-block">
                    <button class="nav-link" id="dropdownBasic2" ngbDropdownToggle>
                        <svg class="svg-icon-user" viewBox="0 0 20 20">
                            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="user"
                                class="svg-inline--fa fa-user fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 448 512">
                                <path fill="currentColor"
                                    d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z">
                                </path>
                            </svg>
                        </svg>
                        {{ authService?.user?.attributes?.name }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                        <a ngbDropdownItem [routerLink]="[ '/admin' ]" *ngIf="authService.isAdmin()">Admin Dashboard</a>
                        <button ngbDropdownItem (click)="signOut()">Uitloggen</button>
                    </div>
                </div>
            </li>
            <li  *ngIf="authService?.user">
                <button class="nav-link" [routerLink]="[ '/cart' ]">
                    <svg class="svg-icon-user" viewBox="0 0 20 20">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shopping-cart"
                            class="svg-inline--fa fa-shopping-cart fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z">
                            </path>
                        </svg>
                    </svg>
                    <span class="badge badge-light ml-1">{{ cartItemCount }}</span>
                </button>
            </li>
        </ul>

    </div>
</section>