h4 {
    font-size: 1.1em;
}

.item, .item-header {
    padding: 1em;
    margin-bottom: 3px;
    background: rgb(129, 45, 160, 0.05);
}

.item-header {
    background: #fff;
}

.remove {
    overflow: hidden;
    min-height: 50px;
    min-width: 50px;
    margin-top: 5px;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: #fff!important;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}
