<h4 class="mt-2">Concert <span class="badge badge-secondary">New</span></h4>

<div class="row">
    <div class="col-8 mt-3">
        <aw-wizard>
            <aw-wizard-step stepTitle="Info">
                <div class="mb-3"></div>
                <app-concert-details-form (status)="details_status = $event" [(concert)]="concert"></app-concert-details-form>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Tickets">
                <div class="mb-3"></div>
                <app-concert-tickets-form [(concert)]="concert" (deleteTicketType)="deleteTicketType($event)"></app-concert-tickets-form>     
            </aw-wizard-step>
            <aw-wizard-step stepTitle="Date and Time">
                Content of Step 3
                <button type="button" awPreviousStep>Previous Step</button>
                <button type="button">Finish</button>
            </aw-wizard-step>
        </aw-wizard>
    </div>
    <div class="col-4">
        <div class="card sticky-top sticky-offset">
            <div class="card-body">
                <p>{{ date | date: 'short' }}</p>
                <!-- [disabled]="details_status !== 'VALID' || busy" -->
                <button class="btn btn-primary btn-lg btn-block"  (click)="submit()">
                    <span *ngIf="!busy">Next</span>                    
                    <app-loading-spinner *ngIf="busy" class="mt-1"></app-loading-spinner>                    
                </button>
            </div>
        </div>
    </div>
</div>