.btn-outline-light {
    font-weight: 500 !important;
    color: white!important;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;

}

.btn-outline-light:hover {
    color: #87499c!important;
    background: white;
}

button.nav-link {
    background: none;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 18px;
}

.dropdown-item:hover {
    border: none;
    background: none;
    color: #87499c!important;
}